---
import "../scss/style.scss";

interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
  raw?: boolean;
}

const { title, description, url, image, raw } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="description" content=`${description}` />
    <!-- Open Graph -->
    <meta property="og:title" content=`${title}` />
    <meta property="og:type" content="website" />
    <meta property="og:url" content=`https://www.anhgelus.world/${url}` />
    <meta property="og:image" content=`https://www.anhgelus.world/${image}` />
    <meta property="og:description" content=`${description}` />
    <meta property="og:local" content="fr_FR" />
    <meta property="og:site_name" content="Architects Land" />
    <!-- Twitter  -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="www.anhgelus.world" />
    <meta property="twitter:url" content=`https://www.anhgelus.world/${url}` />
    <meta name="twitter:title" content=`${title}` />
    <meta name="twitter:description" content=`${description}` />
    <meta name="twitter:image" content=`https://www.anhgelus.world/${image}` />
  </head>
  <body data-scroll-container class=`${raw ? "raw": ""}`>
    <slot />
    <footer>
      <p>
        <a href="https://github.com/anhgelus" target="_blank">GitHub</a> et <a href="/legal/"
          >Mentions légales</a
        >
      </p>
      <p>
        Site web créé par William Hergès à l'aide d'<a href="https://astro.build/" target="_blank"
          >Astro</a
        > et
        <a href="https://sass-lang.com/" target="_blank">SCSS</a>
      </p>
    </footer>
  </body>
</html>
<style is:global></style>
<script></script>
